# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\simfony\docker\chess_nou\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
